/*!
 * 
 *         Build Data: 2023. 2. 2.
 *         GIT Commit Ver: 6ecbc99
 *
 *         User Name : ejonghwan
 *
 *
 */
/* 아리따 돋음 */
/* @font-face {
    font-family: 'ari-Thin';
    src: local(※);
    src: url('../font/ari-Thin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ari-Light';
    src: local(※);
    src: url('../font/ari-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ari-Medium';
    src: local(※);
    src: url('../font/ari-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ari-SemiBold';
    src: local(※);
    src: url('../font/ari-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ari-Bold';
    src: local(※);
    src: url('../font/ari-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
} */



/* 웹폰트 테스트들  */

/* @font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
} */

/* @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');} */




/* Type Selector Reset */
* {margin:0; padding:0; box-sizing: border-box;;}
body {
	-webkit-text-size-adjust: 100%;
	/* font-weight: 400; */
	font-family: 'Noto Sans KR', 'Arita-dotum-Medium', 'AppleSDGothicNeo', sans-serif;
	/* 'ari-Medium', 'Arita-dotum-Medium' */
	font-size: 1em;
	line-height: 1.25;
	color: #555;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	letter-spacing: -0.11px;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
	display: block;
}
button, input[type=submit], input[type=reset], input[type=button] {
	overflow: visible;
	cursor: pointer;
}
input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
	-webkit-appearance: none;
}
input, select, textarea, button {
	/* font-family: 'Noto Sans KR', sans-serif; */
	/* font-size: 100%; */
	border-radius: 0;
}
button {
	overflow: visible;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	text-align: left;
	/* word-break: break-all; */
}
ul li {
	list-style: none;
}
img, fieldset {
	border: none;
	vertical-align: top;
}
hr {
	display: none;
}
a, a:link {text-decoration:none; color:rgb(185, 185, 185);}
a:visited {text-decoration:none;}
a:hover, a:focus {text-decoration:underline; color: rgb(233, 233, 233);}
a:active {text-decoration:none;}


.hljs-comment, .hljs-quote {font-style: normal !important;}

/* @charset "utf-8"; */
/* @import url('./reset.css'); */
/* @import 'reset.css'; */



/* global */
body { background: #0d1117; color: #e3e3e3; font-size: 14px; line-height: 1.5rem; -webkit-touch-callout: none; -webkit-text-size-adjust: none;}
.wrap {display: flex; flex-direction: column; width: 100%; height: 100%;}
.wrap header { flex: 0 0 auto; background: #161b22; }
.wrap main { flex: 1 1 auto; padding: 90px 0 80px;}
.wrap footer { flex: 0 0 auto; background: #161b22; padding: 20px;;}

.global_wrap { width: 760PX; margin: 0 auto;}
h1 {font-size: 15px;}
h2 {font-size: 18px; margin-bottom: 15px; color: #58a6ff;     font-family: 'consola' !important;}
h3 {font-size: 15px; /*font-weight: normal;*/}
em {}
.seg {font-size:11px; color: #666;}
::selection {background: rgba(255, 0, 0, 0.15);;}

/* list */
.list_tyep_1 {position: relative; padding-left: 5px;}
.list_tyep_1::before{content: '-';position: absolute;left: -9px;top: 0px;color: rgb(77, 77, 77);}


/* header */
header {position: fixed; width: 100%; z-index: 100;}
header nav > ul {display: flex;  padding: 20px 0; border-bottom: 1px solid #0d1117;}
header nav > ul > li {padding: 0 22px; font-size: 14px; display: flex; align-items: center;}
header nav > ul > li a.on {color: #58a6ff;}


/* line */
ul.line {display: flex;;}
ul.line > li {position: relative; padding:0 20px;}
ul.line > li:first-child {padding-left: 0;}
ul.line > li::before {content: ''; width: 1px; height: 10px; background: #363636; display: block; position: absolute; left: 0px; top: 0; bottom:0; margin: auto 0;}
ul.line > li:first-child::before {content: none;}


/* contents */
section.conts {position: relative;}
section.conts + section.conts {margin-top: 50px;}

.item_wrap + .item_wrap {margin-top: 3px;}
.conts .item {/*padding-left: 13px;*/  position: relative; display: flex; ;}
/* .conts .item::before {content: ''; width: 7px; height: 1px; background: rgb(46, 46, 46); display: inline-block; position: absolute; left: 0; top:2px;  transition: all .5s;} */
/* .item_wrap.on .item::before { width: 7px; height: 1px;  background: #fff;} */
.conts .item > dt {flex: 1 0 auto; width: 270px;}
.conts .item > dt > button {flex: 0 0 auto; word-break: break-all; /*padding: 2px 7px; background: #050608; border-radius: 4px;*/ font-size: 14px;  color: #fff; font-family: 'consola' !important;  transition: padding .3s;}
.conts .item > dt > button > span {color: #666;}
.conts .item > dt > button.active {/*background: #fff; border-radius: 4px; padding: 0px 3px; */ color: #57a6ff; padding-left: 10px;  position: relative;} /* 01911b */
.conts .item > dt > button::before {content: '-'; display: inline-block; position: absolute; transform: translateX(0px); transition: all .3s; opacity: 0; color: #666;}
.conts .item > dt > button.active::before { transform: translateX(-10px); opacity: 1;}
.conts .item > dt > button:hover {border-bottom: 1px solid #999;;}
.conts .item > dd {flex: 1 1 auto; width: 100%; padding-left: 10px; color: #999; font-size: 12px;  }
.conts .code_wrap {/*margin-left: 15px;*/ opacity: 0; height: 0; transition: opacity .1s; }
.item_wrap pre, 
.item_wrap code {height: 0;overflow-y: hidden;}
.item_wrap.on pre, 
.item_wrap.on code {height: 100%;;}
.item_wrap.on code { margin-top: -5px;  margin-bottom: -10px;}
.conts .code_wrap.active {opacity: 1; height: 100%; }
.conts > .seg {margin-left: -15px; color: #406189;}

.depth_2 + .depth_2 {margin-top:20px;} 
.depth_2 > strong, 
h3 > strong {font-size: 12px; /*color: #557191;*/ color: #6d93bf; display: inline-block; margin-left: -15px; }
 
.depth_3 {color: #999; font-size: 14px; margin-top: 0px;} 
.depth_3 + .depth_3 {margin-top: 10px;;}




/* aside */
aside {position: absolute; top: 0%; left: 800px; z-index: 50; }
aside ul li button{color: #fff;}
aside .aside_btn {position: relative;}
aside .aside_btn::before {content: '-'; position: absolute; left: -9px; top: 0px; color: rgb(77, 77, 77);}
aside .asideToggle {color: #fff; border: 1px solid rgb(88, 88, 88); padding: 5px 10px;} 


/* code */
.hljs {
    font-size: 13px;
    font-family: 'Menlo' !important;
	padding: 0 20px !important;
    background: #161b22 !important;
    border-radius: 10px;
    line-height: 1.8;
}
.hljs-comment {font-style: normal;}



/* footer */
footer .line {display: flex; flex-wrap: wrap;}
footer .line > li {color: #6b6c76; }
/* footer .line > li + li {margin-left: 5px;} */



/* html */

.html_tag {background: #282a32; color: #fff; display: inline-block; border-radius: 6px; padding: 0px 10px; font-size: 13px; position: relative; margin-top: 5px; margin-right: 3px;}
.html_tag::before {content: '<'; display: inline-block; position: absolute; top:50%; transform: translateY(-47%); left:3px; margin: auto; color: #666; font-size: 9px; }
.html_tag::after {content: '>'; display: inline-block; position: absolute; top:50%; transform: translateY(-47%); right:3px; margin: auto; color: #666; font-size: 9px; }




@media (max-width: 960px) {
    .global_wrap { width: 100%; margin: 0 auto; padding: 0 20px;}
}


@media (max-width: 640px) {

    /* h2 {font-size: 25px; margin-bottom: 15px;;} */


    header .global_wrap,
    footer .global_wrap {padding: 0;}

    header nav > ul {padding: 15px 20px; overflow-x: scroll; }
    header nav > ul > li {padding: 0 15px; font-size: 14px;}

    .conts .item {display: block; margin-top: 5px;}
    .conts .item > dd {padding-left: 0px; margin-top: -2px; line-height: 1.5; position: relative; padding-left:7px; color: #666; }
    .conts .item > dd::before {content: ''; font-family: 'Noto Sans'; display: inline-block; position: absolute; top: 2px; left:0px; color: #666; font-size: 12px;;}
    .conts .item > dt > button:hover {border: none;}
    .wrap main {padding: 80px 0 40px; }


    .hljs {border-radius: 0;}
    .conts .code_wrap.active {margin: -10px -20px -25px;}

    
    /* aside {display: none;} */
    aside {  right: 0px; left: auto; background: black; padding: 15px;-webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
      ;}

      footer .line > li {color: #6b6c76; padding: 0 10px; margin: 0;}
    
}
