/* 아리따 돋음 */
@font-face {
    font-family: 'ari-Thin';
    src: local(※);
    src: url('../font/ari-Thin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ari-Light';
    src: local(※);
    src: url('../font/ari-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ari-Medium';
    src: local(※);
    src: url('../font/ari-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ari-SemiBold';
    src: local(※);
    src: url('../font/ari-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ari-Bold';
    src: local(※);
    src: url('../font/ari-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


/* Type Selector Reset */
* {box-sizing: border-box;;}
body {
	-webkit-text-size-adjust: 100%;
	font-weight: 400;
	font-family: 'ari-Medium', 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
	font-size: 1em;
	line-height: 1.25;
	color: #555;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
	display: block;
}
button, input[type=submit], input[type=reset], input[type=button] {
	overflow: visible;
	cursor: pointer;
}
input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
	-webkit-appearance: none;
}
input, select, textarea, button {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 100%;
	border-radius: 0;
}
button {
	overflow: visible;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}
ul li {
	list-style: none;
}
img, fieldset {
	border: none;
	vertical-align: top;
}
hr {
	display: none;
}
a, a:link {text-decoration:none; color:rgb(185, 185, 185);}
a:visited {text-decoration:none;}
a:hover, a:focus {text-decoration:underline; color: rgb(233, 233, 233);}
a:active {text-decoration:none;}

